---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Content from '../components/Content.astro'
import Masthead from '../components/Masthead.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import { IoChevronForward } from 'react-icons/io5/index.js'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <h1 class="font-mplus text-center">Fede's Blog</h1>
      <Content>
        <section>
          <h1 class="text-3xl text-center font-mplus mt-12 mb-8">
            Oops, not found
          </h1>
          <div class="text-center py-4">
            <a
              class="inline-flex items-center gap-1 underline underline-offset-2 decoration-orange-500"
              href="/"
              >Go to homepage <IoChevronForward />
            </a>
          </div>
        </section>
      </Content>
    </main><a class="inline-flex items-center">
      <Footer />
    </a><a class="inline-flex items-center"> </a>
  </Body>
</html>
